h3 {
  text-align: center;
  font-size: 32px;
  font-family: serif;
  padding: 10px;
  margin: 10px;


}

.MessList {
  position: static;
  background-color: white;
  float: right;
  width: 70%;
  border: 2px solid black;
  
}

.submit-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75%;
  text-align: left;
  margin: 10px;
  font-size: 14px;
  font-family: serif;

}
