h2 {
  text-align: left;
  font-size: 24px;
  font-family: sans-serif;
  padding: 10px;
  margin: 1px;
}

.text-entry {
  text-align: left;
  margin: auto;
  padding: 4px;
}


.chat-rooms {
  text-align: left;
  margin: 20px;
  font-size: 18px;
  font-family: sans-serif;
  border-style: double;
  border-color: black;
  border-width: thick;
  padding-top: 4px;
  padding-bottom: 500px;
  padding-left: 4px;
  width: 25%;
}
