h1 {
  text-align: left;
  margin: 10px;
  font-size: 48px;
  font-family: inherit;
  padding-bottom: 0px;
  text-decoration: underline;
}

.col-sm-4 {
  float: left;
  margin: 20px;
  justify-content: start;
}

.col-sm-8 {
  margin: 20px;

}
